   GROUP 1 ASSIGNMENT

GROUP MEMBERS

# ALEX MOMANYI

# JOHN OTIENO

# JOSHUA OKOTH

# MARTIN HAYO

# EDWIN NTABO

In [35]:
""" Our group has been been consulted to locate and procure house units 
by 2 families  migrating from Kenya to the United States, in the city of
Auburn.
The assignment was based on the following conditions:
1. Price <= $1000000.
2. Bedrooms > 3
3. Bathrooms >= 3
4. Sq. Ft: > 4000
5. floors ==2 
6. Year_built >= 2005
"""

' Our group has been been consulted to locate and procure house units \nby 2 families  migrating from Kenya to the United States, in the city of\nAuburn.\nThe assignment was based on the following conditions:\n1. Price <= $1000000.\n2. Bedrooms > 3\n3. Bathrooms >= 3\n4. Sq. Ft: > 4000\n5. floors ==2 \n6. Year_built >= 2005\n'

  # LOADING HOUSING DATA AND CREATING A DATAFRA

In [6]:
import pandas as pd

In [7]:
filepath= "DataFiles/house prices in states.csv"
df= pd.read_csv(filepath)

In [8]:
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,Unnamed: 6,Unnamed: 7,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,3.760000e+05,3,2.00,1340,1384,3.0,NaN,NaN,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103
1,8.000000e+05,4,3.25,3540,159430,2.0,NaN,NaN,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014
2,2.238888e+06,5,6.50,7270,130017,2.0,NaN,NaN,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029
3,3.240000e+05,3,2.25,998,904,2.0,NaN,NaN,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117
4,5.499000e+05,5,2.75,3060,7015,1.0,NaN,NaN,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,3.081667e+05,3,1.75,1510,6360,1.0,NaN,NaN,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133
4136,5.343333e+05,3,2.50,1460,7573,2.0,NaN,NaN,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007
4137,4.169042e+05,3,2.50,3010,7014,2.0,NaN,NaN,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059
4138,2.034000e+05,4,2.00,2090,6630,1.0,NaN,NaN,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178
4139,2.206000e+05,3,2.50,1490,8102,2.0,NaN,NaN,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042

In [ ]:
# DATA INSPECTION

In [9]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,Unnamed: 6,Unnamed: 7,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,376000.0,3,2.00,1340,1384,3.0,NaN,NaN,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103
1,800000.0,4,3.25,3540,159430,2.0,NaN,NaN,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014
2,2238888.0,5,6.50,7270,130017,2.0,NaN,NaN,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029
3,324000.0,3,2.25,998,904,2.0,NaN,NaN,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117
4,549900.0,5,2.75,3060,7015,1.0,NaN,NaN,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146

In [10]:
df.tail()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,Unnamed: 6,Unnamed: 7,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
4135,308166.6667,3,1.75,1510,6360,1.0,NaN,NaN,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133
4136,534333.3333,3,2.50,1460,7573,2.0,NaN,NaN,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007
4137,416904.1667,3,2.50,3010,7014,2.0,NaN,NaN,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059
4138,203400.0000,4,2.00,2090,6630,1.0,NaN,NaN,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178
4139,220600.0000,3,2.50,1490,8102,2.0,NaN,NaN,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042

In [11]:
df.shape

(4140, 16)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4140 entries, 0 to 4139
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          4140 non-null   float64
 1   bedrooms       4140 non-null   int64
 2   bathrooms      4140 non-null   float64
 3   sqft_living    4140 non-null   int64
 4   sqft_lot       4140 non-null   int64
 5   floors         4140 non-null   float64
 6   Unnamed: 6     0 non-null      float64
 7   Unnamed: 7     0 non-null      float64
 8   condition      4140 non-null   int64
 9   sqft_above     4140 non-null   int64
 10  sqft_basement  4140 non-null   int64
 11  yr_built       4140 non-null   int64
 12  yr_renovated   4140 non-null   int64
 13  street         4140 non-null   object
 14  city           4140 non-null   object
 15  statezip       4140 non-null   object
dtypes: float64(5), int64(8), object(3)
memory usage: 517.6+ KB

In [13]:
#Statistical Summary
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,Unnamed: 6,Unnamed: 7,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.140000e+03,4140.000000,4140.000000,4140.000000,4.140000e+03,4140.000000,0.0,0.0,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000
mean,5.530629e+05,3.400483,2.163043,2143.638889,1.469764e+04,1.514130,NaN,NaN,3.452415,1831.351449,312.287440,1970.814010,808.368357
std,5.836865e+05,0.903939,0.784733,957.481621,3.587684e+04,0.534941,NaN,NaN,0.678533,861.382947,464.349222,29.807941,979.380535
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,NaN,NaN,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.200000e+05,3.000000,1.750000,1470.000000,5.000000e+03,1.000000,NaN,NaN,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.600000e+05,3.000000,2.250000,1980.000000,7.676000e+03,1.500000,NaN,NaN,3.000000,1600.000000,0.000000,1976.000000,0.000000
75%,6.591250e+05,4.000000,2.500000,2620.000000,1.100000e+04,2.000000,NaN,NaN,4.000000,2310.000000,602.500000,1997.000000,1999.000000
max,2.659000e+07,8.000000,6.750000,10040.000000,1.074218e+06,3.500000,NaN,NaN,5.000000,8020.000000,4820.000000,2014.000000,2014.000000

In [16]:
#DATA CLEANING

In [14]:
#Inspecting null values in the DataFrame
df.isnull().sum()

price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
Unnamed: 6       4140
Unnamed: 7       4140
condition           0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
street              0
city                0
statezip            0
dtype: int64

In [15]:
#Dropping the columns with null values
df.dropna()

Empty DataFrame
Columns: [price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, Unnamed: 6, Unnamed: 7, condition, sqft_above, sqft_basement, yr_built, yr_renovated, street, city, statezip]
Index: []

In [16]:
new_df=df.drop(columns="Unnamed: 6",)

In [22]:
new_df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,Unnamed: 7,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,3.760000e+05,3,2.00,1340,1384,3.0,NaN,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103
1,8.000000e+05,4,3.25,3540,159430,2.0,NaN,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014
2,2.238888e+06,5,6.50,7270,130017,2.0,NaN,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029
3,3.240000e+05,3,2.25,998,904,2.0,NaN,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117
4,5.499000e+05,5,2.75,3060,7015,1.0,NaN,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,3.081667e+05,3,1.75,1510,6360,1.0,NaN,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133
4136,5.343333e+05,3,2.50,1460,7573,2.0,NaN,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007
4137,4.169042e+05,3,2.50,3010,7014,2.0,NaN,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059
4138,2.034000e+05,4,2.00,2090,6630,1.0,NaN,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178
4139,2.206000e+05,3,2.50,1490,8102,2.0,NaN,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042

In [17]:
new_df1=new_df.drop(columns="Unnamed: 7",)

In [26]:
new_df1

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,3.760000e+05,3,2.00,1340,1384,3.0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103
1,8.000000e+05,4,3.25,3540,159430,2.0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014
2,2.238888e+06,5,6.50,7270,130017,2.0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029
3,3.240000e+05,3,2.25,998,904,2.0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117
4,5.499000e+05,5,2.75,3060,7015,1.0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,3.081667e+05,3,1.75,1510,6360,1.0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133
4136,5.343333e+05,3,2.50,1460,7573,2.0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007
4137,4.169042e+05,3,2.50,3010,7014,2.0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059
4138,2.034000e+05,4,2.00,2090,6630,1.0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178
4139,2.206000e+05,3,2.50,1490,8102,2.0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042

In [18]:
new_df1.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
dtype: int64

In [19]:
#Inspecting Diplicates in the DataFrame
new_df1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4135    False
4136    False
4137    False
4138    False
4139    False
Length: 4140, dtype: bool

In [20]:
new_df1.dtypes

price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
dtype: object

In [ ]:
#DATA MANUPULATION

DATA SORTING

In [21]:
new_df1.sort_values(by = "price", ascending=False)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
3890,26590000.0,3,2.00,1180,7793,1.0,4,1180,0,1992,0,12005 SE 219th Ct,Kent,WA 98031
3886,12899000.0,3,2.50,2190,11394,1.0,3,1550,640,1956,2001,5426 40th Ave W,Seattle,WA 98199
1826,7062500.0,5,4.50,10040,37325,2.0,3,7680,2360,1940,2001,4442 95th Ave NE,Bellevue,WA 98004
2194,4668000.0,5,6.75,9640,13068,1.0,3,4820,4820,1983,2009,5044 Butterworth Rd,Mercer Island,WA 98040
2301,4489000.0,4,3.00,6430,27517,2.0,3,6430,0,2001,0,1149-1199 91st Ave NE,Bellevue,WA 98004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4103,0.0,2,2.25,2130,4920,1.5,4,1530,600,1941,1998,3428 60th Ave SW,Seattle,WA 98116
3960,0.0,4,1.00,1360,13372,1.0,3,1360,0,1955,2005,18423 61st Pl NE,Kenmore,WA 98028
4061,0.0,4,1.00,1810,7500,1.0,2,1410,400,1959,0,12231 Occidental Ave S,Seattle,WA 98168
3953,0.0,4,3.00,1990,6180,2.0,3,1990,0,1990,2009,32706 20th Ave SW,Federal Way,WA 98023
4107,0.0,4,2.50,4080,18362,2.0,4,4080,0,1983,0,2710 95th Ave NE,Clyde Hill,WA 98004

In [ ]:
 DATA FILTER

In [22]:
a= new_df1[new_df1["price"] <=1000000] #filtering housing data on pricing.
a

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,376000.0000,3,2.00,1340,1384,3.0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103
1,800000.0000,4,3.25,3540,159430,2.0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014
3,324000.0000,3,2.25,998,904,2.0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117
4,549900.0000,5,2.75,3060,7015,1.0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146
5,320000.0000,3,2.50,2130,6969,2.0,3,2130,0,2003,0,Cedar to Green River Trail,Maple Valley,WA 98038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,308166.6667,3,1.75,1510,6360,1.0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133
4136,534333.3333,3,2.50,1460,7573,2.0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007
4137,416904.1667,3,2.50,3010,7014,2.0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059
4138,203400.0000,4,2.00,2090,6630,1.0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178
4139,220600.0000,3,2.50,1490,8102,2.0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042

In [24]:
b=a[a["bedrooms"] >3] #Filtering housing data based on number of bedrooms
b

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
1,800000.0000,4,3.25,3540,159430,2.0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014
4,549900.0000,5,2.75,3060,7015,1.0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146
6,875000.0000,4,2.00,2520,6000,1.0,3,1400,1120,1921,2007,6521 Fremont Ave N,Seattle,WA 98103
7,265000.0000,4,1.00,1940,9533,1.0,3,1080,860,1962,2003,9908 S 210th Pl,Kent,WA 98031
9,842500.0000,4,2.50,2160,5298,2.5,4,2160,0,1902,0,906 17th Ave,Seattle,WA 98122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4123,282766.6667,4,2.00,1700,8640,1.0,3,850,850,1955,2010,3706 140th Ave SE,Bellevue,WA 98006
4128,0.0000,4,2.25,2890,18226,3.0,3,2890,0,1984,0,3227-3399 Mountain View Ave N,Renton,WA 98056
4130,380680.5556,4,2.50,2620,8331,2.0,3,2620,0,1991,0,13602 SE 186th Pl,Renton,WA 98058
4132,252980.0000,4,2.50,2530,8169,2.0,3,2530,0,1993,0,37654 18th Pl S,Federal Way,WA 98003
4138,203400.0000,4,2.00,2090,6630,1.0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178

In [25]:
c=b[b["bathrooms"]>=3] #Filtering based on number of bathrooms
c

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
1,800000.0,4,3.25,3540,159430,2.0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014
20,900000.0,4,3.25,4700,38412,2.0,3,3420,1280,1978,0,3709 131st Ave NE,Bellevue,WA 98005
29,372500.0,5,3.00,2480,10090,1.0,3,1300,1180,2004,2003,5537 S 119th St,Seattle,WA 98178
35,950000.0,5,3.00,4530,258746,1.5,4,3200,1330,2003,0,20325 NE 198th St,Woodinville,WA 98077
43,330000.0,5,3.00,2100,7715,1.0,3,1250,850,2013,1923,1047-1099 S 130th St,Burien,WA 98168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4080,375000.0,5,3.25,3370,7947,2.0,3,3370,0,2001,0,1826 4th St,Kirkland,WA 98033
4082,0.0,5,3.50,2640,6895,2.0,3,2640,0,2001,0,34529 SE Jay Ct,Snoqualmie,WA 98065
4097,471500.0,4,3.00,2370,3672,1.5,5,1650,720,1916,0,6811 16th Ave NE,Seattle,WA 98115
4098,0.0,4,4.25,3500,8750,1.0,5,2140,1360,1951,0,12725 8th Ave NW,Seattle,WA 98177
4115,0.0,5,6.25,8020,21738,2.0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006

In [26]:
d=c[c["sqft_living"]>4000] #filtering based on living space
d

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
20,900000.0,4,3.25,4700,38412,2.0,3,3420,1280,1978,0,3709 131st Ave NE,Bellevue,WA 98005
35,950000.0,5,3.00,4530,258746,1.5,4,3200,1330,2003,0,20325 NE 198th St,Woodinville,WA 98077
174,740000.0,5,5.00,5774,31675,1.0,3,4490,1284,1984,0,28511 10th Ave S,Federal Way,WA 98003
442,869000.0,5,3.25,4180,49222,2.0,4,2880,1300,1979,0,18524 SE 60th St,Issaquah,WA 98027
582,490000.0,5,3.50,4460,2975,3.0,3,3280,1180,2013,1923,1400 10th Ave W,Seattle,WA 98119
629,975000.0,5,4.00,4850,36450,2.0,3,4850,0,1977,2004,13600 NE 36th Pl,Bellevue,WA 98005
670,950000.0,5,3.75,5330,6000,2.0,3,3570,1760,2006,0,832 Summerhill Ridge Dr NW,Issaquah,WA 98027
742,1000000.0,4,3.00,4260,18687,2.0,3,4260,0,1996,0,2432 267th Ct SE,Sammamish,WA 98075
805,799950.0,4,3.50,4220,196817,2.0,3,4220,0,1993,0,5002 Jasmine Ave SE,Auburn,WA 98092
900,569950.0,5,4.50,4850,40902,2.0,3,4850,0,2001,0,31617 6th Ave SW,Federal Way,WA 98023
1003,465000.0,6,3.25,4250,23326,1.0,3,2150,2100,1967,2011,29211 7th Pl S,Federal Way,WA 98003
1019,565000.0,7,4.50,4140,9066,1.0,3,2070,2070,1978,0,14007 35th Ave NE,Seattle,WA 98125
1057,700000.0,4,3.50,4490,5099,2.0,3,3390,1100,2006,0,6818 Pinehurst Ave SE,Snoqualmie,WA 98065
1095,950000.0,4,3.50,4140,13392,2.0,3,4140,0,2000,0,8507 146th Pl SE,Newcastle,WA 98059
1146,625000.0,4,3.25,4240,25639,2.0,3,3550,690,1989,0,30924 36th Ave SW,Federal Way,WA 98023
1184,840000.0,7,4.50,4290,37607,1.5,5,4290,0,1982,0,13527 231st Pl SE,Issaquah,WA 98027
1257,870000.0,4,3.00,4500,21780,2.0,3,3040,1460,1980,0,5003 E Mercer Way,Mercer Island,WA 98040
1262,687000.0,4,3.25,4400,186846,2.0,4,4400,0,1993,0,28808 SE Mud Mountain Rd,Enumclaw,WA 98022
1344,960000.0,4,3.00,4590,9150,2.0,3,3490,1100,1981,2013,13003 13th Ave NW,Seattle,WA 98177
1465,765000.0,4,3.00,4410,5104,2.0,3,3400,1010,2006,0,6820 Pinehurst Ave SE,Snoqualmie,WA 98065
1476,630000.0,4,3.75,4610,40202,1.0,4,2500,2110,1980,0,25510 SE 159th St,Issaquah,WA 98027
1502,955000.0,4,4.25,5660,193593,2.0,3,4100,1560,2001,0,12124 268th Dr NE,Duvall,WA 98019
1522,530000.0,4,3.25,4160,35654,2.0,3,2760,1400,1973,2013,24844 SE Mirrormont Pl,Issaquah,WA 98027
1820,665000.0,6,3.00,4250,4400,2.5,4,3020,1230,1902,0,3907 S Edmunds St,Seattle,WA 98118
2149,850000.0,4,3.50,4140,7089,2.0,3,3160,980,2003,0,11721 106th Ave NE,Kirkland,WA 98034
2778,600000.0,4,3.25,4690,14930,2.0,3,3680,1010,1995,0,19560 44th Ave NE,Lake Forest Park,WA 98155
2872,860000.0,5,3.25,4500,9648,2.0,4,3000,1500,1968,0,4209 NE 135th St,Seattle,WA 98125
2958,910000.0,4,3.50,4040,50479,2.0,3,4040,0,1987,2000,13417 218th Ave NE,Woodinville,WA 98077
3114,550000.0,4,3.50,4150,16197,2.0,3,4150,0,2006,0,11824 SE 290th Pl,Auburn,WA 98092
3264,850000.0,4,3.25,4350,112750,1.0,3,2200,2150,2006,0,6407 282nd Ave SE,Issaquah,WA 98027
3310,925000.0,5,5.50,5190,12637,2.0,3,5190,0,2001,0,6525 Cascade Ave SE,Snoqualmie,WA 98065
3327,920000.0,4,3.50,4080,10666,2.0,3,4080,0,2005,0,8950 237th Pl NE,Redmond,WA 98053
3434,835000.0,4,4.25,4930,25714,2.0,3,4930,0,2005,0,32805 145th Pl SE,Auburn,WA 98092
3520,775000.0,4,3.25,4100,241322,2.0,3,2500,1600,1981,2013,18096-18162 NE 143rd Pl,Woodinville,WA 98072
3521,670000.0,6,3.00,4050,36171,2.0,4,2620,1430,1970,0,14717 245th Ave SE,Issaquah,WA 98027
3631,782000.0,4,3.50,5270,53428,2.0,3,3440,1830,2004,2003,18603 E Spring Lake Dr SE,Renton,WA 98058
3714,989000.0,5,4.50,4030,13474,2.0,3,4030,0,2000,0,25758 SE 31st Pl,Sammamish,WA 98075
3792,734950.0,4,3.25,4280,47179,2.0,3,3050,1230,2002,0,33518 161st Ln SE,Auburn,WA 98092
3922,0.0,5,4.50,4630,6324,2.0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065
3923,0.0,5,4.00,4430,9000,2.0,3,4430,0,2013,1923,9235 NE 5th St,Bellevue,WA 98004
3925,0.0,4,4.50,5030,11023,2.0,3,3250,1780,2008,0,4140 Boulevard Pl,Mercer Island,WA 98040
3929,0.0,4,3.50,4210,10308,2.0,3,4210,0,2006,0,2234 167th Ave SE,Bellevue,WA 98008
3938,195000.0,5,3.75,5340,10655,2.5,4,3740,1600,1912,1989,2601-2649 Shoreland Dr S,Seattle,WA 98144
3940,692000.0,4,3.25,5010,34460,2.0,3,5010,0,1988,2000,6265 160th Ave SE,Bellevue,WA 98006
3956,316850.0,4,3.00,4060,35621,1.0,3,2030,2030,1989,0,32915 176th Ave SE,Auburn,WA 98092
3968,435000.0,4,3.00,4260,18000,2.0,3,4260,0,2000,0,7436 SE 76th St,Mercer Island,WA 98040
3972,452500.0,5,3.50,5960,13703,2.0,3,4770,1190,1984,0,510 175th Pl NE,Bellevue,WA 98008
4012,0.0,4,3.75,4060,19290,2.0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074
4068,0.0,4,5.00,4550,18641,1.0,3,2600,1950,2002,0,425 E Lake Sammamish Pkwy SE,Sammamish,WA 98074
4115,0.0,5,6.25,8020,21738,2.0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006

In [27]:
d.shape

(50, 14)

In [28]:
e=d[d["floors"]==2]
e

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
20,900000.0,4,3.25,4700,38412,2.0,3,3420,1280,1978,0,3709 131st Ave NE,Bellevue,WA 98005
442,869000.0,5,3.25,4180,49222,2.0,4,2880,1300,1979,0,18524 SE 60th St,Issaquah,WA 98027
629,975000.0,5,4.00,4850,36450,2.0,3,4850,0,1977,2004,13600 NE 36th Pl,Bellevue,WA 98005
670,950000.0,5,3.75,5330,6000,2.0,3,3570,1760,2006,0,832 Summerhill Ridge Dr NW,Issaquah,WA 98027
742,1000000.0,4,3.00,4260,18687,2.0,3,4260,0,1996,0,2432 267th Ct SE,Sammamish,WA 98075
805,799950.0,4,3.50,4220,196817,2.0,3,4220,0,1993,0,5002 Jasmine Ave SE,Auburn,WA 98092
900,569950.0,5,4.50,4850,40902,2.0,3,4850,0,2001,0,31617 6th Ave SW,Federal Way,WA 98023
1057,700000.0,4,3.50,4490,5099,2.0,3,3390,1100,2006,0,6818 Pinehurst Ave SE,Snoqualmie,WA 98065
1095,950000.0,4,3.50,4140,13392,2.0,3,4140,0,2000,0,8507 146th Pl SE,Newcastle,WA 98059
1146,625000.0,4,3.25,4240,25639,2.0,3,3550,690,1989,0,30924 36th Ave SW,Federal Way,WA 98023
1257,870000.0,4,3.00,4500,21780,2.0,3,3040,1460,1980,0,5003 E Mercer Way,Mercer Island,WA 98040
1262,687000.0,4,3.25,4400,186846,2.0,4,4400,0,1993,0,28808 SE Mud Mountain Rd,Enumclaw,WA 98022
1344,960000.0,4,3.00,4590,9150,2.0,3,3490,1100,1981,2013,13003 13th Ave NW,Seattle,WA 98177
1465,765000.0,4,3.00,4410,5104,2.0,3,3400,1010,2006,0,6820 Pinehurst Ave SE,Snoqualmie,WA 98065
1502,955000.0,4,4.25,5660,193593,2.0,3,4100,1560,2001,0,12124 268th Dr NE,Duvall,WA 98019
1522,530000.0,4,3.25,4160,35654,2.0,3,2760,1400,1973,2013,24844 SE Mirrormont Pl,Issaquah,WA 98027
2149,850000.0,4,3.50,4140,7089,2.0,3,3160,980,2003,0,11721 106th Ave NE,Kirkland,WA 98034
2778,600000.0,4,3.25,4690,14930,2.0,3,3680,1010,1995,0,19560 44th Ave NE,Lake Forest Park,WA 98155
2872,860000.0,5,3.25,4500,9648,2.0,4,3000,1500,1968,0,4209 NE 135th St,Seattle,WA 98125
2958,910000.0,4,3.50,4040,50479,2.0,3,4040,0,1987,2000,13417 218th Ave NE,Woodinville,WA 98077
3114,550000.0,4,3.50,4150,16197,2.0,3,4150,0,2006,0,11824 SE 290th Pl,Auburn,WA 98092
3310,925000.0,5,5.50,5190,12637,2.0,3,5190,0,2001,0,6525 Cascade Ave SE,Snoqualmie,WA 98065
3327,920000.0,4,3.50,4080,10666,2.0,3,4080,0,2005,0,8950 237th Pl NE,Redmond,WA 98053
3434,835000.0,4,4.25,4930,25714,2.0,3,4930,0,2005,0,32805 145th Pl SE,Auburn,WA 98092
3520,775000.0,4,3.25,4100,241322,2.0,3,2500,1600,1981,2013,18096-18162 NE 143rd Pl,Woodinville,WA 98072
3521,670000.0,6,3.00,4050,36171,2.0,4,2620,1430,1970,0,14717 245th Ave SE,Issaquah,WA 98027
3631,782000.0,4,3.50,5270,53428,2.0,3,3440,1830,2004,2003,18603 E Spring Lake Dr SE,Renton,WA 98058
3714,989000.0,5,4.50,4030,13474,2.0,3,4030,0,2000,0,25758 SE 31st Pl,Sammamish,WA 98075
3792,734950.0,4,3.25,4280,47179,2.0,3,3050,1230,2002,0,33518 161st Ln SE,Auburn,WA 98092
3922,0.0,5,4.50,4630,6324,2.0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065
3923,0.0,5,4.00,4430,9000,2.0,3,4430,0,2013,1923,9235 NE 5th St,Bellevue,WA 98004
3925,0.0,4,4.50,5030,11023,2.0,3,3250,1780,2008,0,4140 Boulevard Pl,Mercer Island,WA 98040
3929,0.0,4,3.50,4210,10308,2.0,3,4210,0,2006,0,2234 167th Ave SE,Bellevue,WA 98008
3940,692000.0,4,3.25,5010,34460,2.0,3,5010,0,1988,2000,6265 160th Ave SE,Bellevue,WA 98006
3968,435000.0,4,3.00,4260,18000,2.0,3,4260,0,2000,0,7436 SE 76th St,Mercer Island,WA 98040
3972,452500.0,5,3.50,5960,13703,2.0,3,4770,1190,1984,0,510 175th Pl NE,Bellevue,WA 98008
4012,0.0,4,3.75,4060,19290,2.0,3,4060,0,2002,0,21418 SE 5th Pl,Sammamish,WA 98074
4115,0.0,5,6.25,8020,21738,2.0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006

In [29]:
e.shape

(38, 14)

In [30]:
f=e[e["yr_built"]>=2005] #Filtering based on year of build.
f

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
670,950000.0,5,3.75,5330,6000,2.0,3,3570,1760,2006,0,832 Summerhill Ridge Dr NW,Issaquah,WA 98027
1057,700000.0,4,3.50,4490,5099,2.0,3,3390,1100,2006,0,6818 Pinehurst Ave SE,Snoqualmie,WA 98065
1465,765000.0,4,3.00,4410,5104,2.0,3,3400,1010,2006,0,6820 Pinehurst Ave SE,Snoqualmie,WA 98065
3114,550000.0,4,3.50,4150,16197,2.0,3,4150,0,2006,0,11824 SE 290th Pl,Auburn,WA 98092
3327,920000.0,4,3.50,4080,10666,2.0,3,4080,0,2005,0,8950 237th Pl NE,Redmond,WA 98053
3434,835000.0,4,4.25,4930,25714,2.0,3,4930,0,2005,0,32805 145th Pl SE,Auburn,WA 98092
3922,0.0,5,4.50,4630,6324,2.0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065
3923,0.0,5,4.00,4430,9000,2.0,3,4430,0,2013,1923,9235 NE 5th St,Bellevue,WA 98004
3925,0.0,4,4.50,5030,11023,2.0,3,3250,1780,2008,0,4140 Boulevard Pl,Mercer Island,WA 98040
3929,0.0,4,3.50,4210,10308,2.0,3,4210,0,2006,0,2234 167th Ave SE,Bellevue,WA 98008

In [33]:
g=f[f["city"]=="Auburn"] #Finally, 2 house units found in the city of Aurbun

In [34]:
g

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
3114,550000.0,4,3.50,4150,16197,2.0,3,4150,0,2006,0,11824 SE 290th Pl,Auburn,WA 98092
3434,835000.0,4,4.25,4930,25714,2.0,3,4930,0,2005,0,32805 145th Pl SE,Auburn,WA 98092